[submodule "lts-haskell"]
	path = lts-haskell
	url = https://github.com/fpco/lts-haskell.git
	branch = master
[submodule "all-cabal-hashes"]
	path = all-cabal-hashes
	url = https://github.com/commercialhaskell/all-cabal-hashes.git
	branch = hackage
[submodule "inflections-hs"]
	path = inflections-hs
	url = https://github.com/stackbuilders/inflections-hs.git
	branch = master
[submodule "stack"]
	path = stack
	url = https://github.com/commercialhaskell/stack.git
	branch = master
[submodule "path"]
	path = path
	url = https://github.com/commercialhaskell/path.git
	branch = master
[submodule "stackage2nix"]
	path = stackage2nix
	url = https://github.com/4e6/stackage2nix.git
	branch = master
